.practice {
  color: #ECF0F1;
}

.practice__title {
  font-family: $firstLvlheadingFont;
  text-align: center;
  font-size: 30px;
}

.practice__author {
  margin-top: 50px;
  margin-left: auto;
  margin-right: 2px;
}