@font-face {
  font-family: 'Ruda Black';
  src: url('../../fonts/Ruda/Ruda-Black.ttf');
}

@font-face {
  font-family: 'Ruda Bold';
  src: url('../../fonts/Ruda/Ruda-Bold.ttf');
}

@font-face {
  font-family: 'Ruda Regular';
  src: url('../../fonts/Ruda/Ruda-Regular.ttf');
}