mixin author()
  article.author(class = attributes.class)
    p.author__text
      | Koryakov Oleg
      br
      | The
      br
      span.author__advantages(data-advantages='["Creator", "Developer", "Good Boy"]')