mixin description()
  .description(class = attributes.class)
    h3.description__title Practice tasks:
    ul.description__list
      li.description__item realize selection sort algorithm
      li.description__item the ability to specify an array from the keyboard
      li.description__item animate algorithm