mixin selection-sort()
  article.selection-sort(class = attributes.class)
    h2.selection-sort__title Selection sort algorithm
    .selection-sort__input-box
      h3.selection-sort__input-title Ability to enter values from the keyboard
      input(type="text" placeholder='input your values here').selection-sort__input-field
    ul.selection-sort__legend-list
      li.selection-sort__legend-item
        .selection-sort__legend-item-example.selection-sort__legend-item-example--unsorted
        .selection-sort__legend-item-text unsorted
      li.selection-sort__legend-item
        .selection-sort__legend-item-example.selection-sort__legend-item-example--sorted
        .selection-sort__legend-item-text sorted
    .selection-sort__example
      ul.selection-sort__array
        li.selection-sort__item
          .selection-sort__item-bg
          .selection-sort__item-value e
        li.selection-sort__item 
          .selection-sort__item-bg
          .selection-sort__item-value n
        li.selection-sort__item
          .selection-sort__item-bg
          .selection-sort__item-value j
        li.selection-sort__item
          .selection-sort__item-bg
          .selection-sort__item-value o
        li.selection-sort__item
          .selection-sort__item-bg
          .selection-sort__item-value y
        li.selection-sort__item
          .selection-sort__item-bg
          .selection-sort__item-value !
        